@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  line-height: 1.15;
  /* -webkit-text-size-adjust: 100%; */
  /* font-size: 90%; */
  font-size: 0.9rem;
  /* font-family: "Dosis", sans-serif; */
  font-weight: 500;
  letter-spacing: 0.1em;
  /* height: 100vh; */
}
:root {
  --white: white;
  --black: black;
  --primary: #051937;
  --secondary: #a8eb12;
  --tertiary: #00ffff;
  --complementive: #f9f871;
  --bg-dark: #020917;
  --bg-gradient: linear-gradient(180deg, #020917 0%, #1e3a8a 100%);
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --danger: #ff3c78;
}

body {
  /* background-image: var(--bg-gradient); */
  /* background-color: #0f103f; */
  background-color: var(--bg-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  margin: 0px;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  gap: 2%;
}

/* Navbar */
#globalHeader {
  position: fixed;
  right: 0;
  top: 0;
  width: calc(235 / 1500 * 100vw);
  max-width: 235px;
  height: 100vh;
  z-index: 100;
}
#globalNav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  width: calc(430 / 1000 * 100vh);
  height: 1em;
  transform: rotate(90deg);
  transform-origin: 0 100%;
  margin-top: calc(200 / 1500 * 100vh);
  margin-left: 100px;
}

#globalNav .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#globalNav .menu li {
  padding-right: 24px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#globalNav .menu li a {
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
  font-weight: 300;
}
#globalNav .menu li a i {
  font-size: 1.5em;
  transform: rotate(-90deg);
}

#globalNav .menu li a:hover {
  color: var(--secondary);
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding-bottom: 2px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 575.98px) {
  html {
    font-size: 0.6rem;
  }
  #globalHeader {
    width: 90px;
  }
  #globalNav {
    width: 250px;
    margin-top: 30px;
    margin-left: 50px;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 0.7rem;
  }
  #globalHeader {
    width: 90px;
  }
  #globalNav {
    width: 250px;
    margin-top: 30px;
    margin-left: 50px;
  }
}
p {
  color: var(--white);
  font-weight: 300;
}

h1 {
  color: var(--secondary);
  font-weight: 400;
}

h2,
h3,
h4 {
  margin-top: 2%;
  color: var(--white);
  font-weight: 400;
}

article {
  color: var(--white);
  font-weight: 300;
}
#article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80vw;
  height: 100vh;
  /* background-color: var(--primary); */
  border-radius: 20px;
  padding-bottom: 5%;
  overflow: hidden;
}

#article-wrapper > .navigation-section button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#article-wrapper > .navigation-section img {
  width: 150%;
  height: 150%;
}
#article-wrapper > .article-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  border-radius: 20px;
  /* padding: 1%; */
  margin-top: 1%;
  border: 1px solid var(--tertiary);
}

#article-wrapper > .article-section > .article-image {
  /* background-color: #00ffff; */
  width: 35%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#article-wrapper > .article-section > .article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

#article-wrapper > .article-section > .article-body {
  /* background-color: #a8eb12; */
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  border-radius: inherit;
}

#article-wrapper > .article-section > .article-body > .article-header {
  /* background-color: var(--complementive); */
  height: 30%;
  width: 100%;
  border-top-right-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2%;
  padding: 4%;
}
#article-wrapper
  > .article-section
  > .article-body
  > .article-header
  > .article-title {
  gap: 4%;
}

#article-wrapper
  > .article-section
  > .article-body
  > .article-header
  > .article-stats {
  /* background-color: #a8eb12; */
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding-top: 10px;
}
#article-wrapper
  > .article-section
  > .article-body
  > .article-header
  > .article-stats
  i {
  color: var(--secondary);
  font-size: 1.2em;
}
#article-wrapper
  > .article-section
  > .article-body
  > .article-header
  > .article-stats
  button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#likes {
  color: var(--danger) !important;
  font-size: 1.5em !important;
}

#article-wrapper > .article-section > .article-body > .article-text {
  background-color: #051937;
  height: 70%;
  width: 100%;
  border-radius: inherit;
  overflow: auto;
  padding: 2%;
  padding-bottom: 10%;
}

#comment-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 80vh;
  background-image: var(--bg-gradient);
  border-radius: 20px;
  /* padding: 0.5%; */
  overflow: hidden;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 1%;
}

#comment-form > .comment-form-title {
  margin: 0;
}
#comment-form > .container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  overflow: auto;
  /* border: 0.5px solid var(--secondary); */
  border-radius: inherit;
  padding: 2%;
  /* position: relative; */
}
#comment-form > .container form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}

textarea {
  border-radius: 8px;
  color: var(--white);
  font-weight: 200;
  background-color: var(--bg-dark);
  border: 0.5px solid var(--complementive);
  padding: 20px;
  resize: none;
}

#post-button {
  background-color: var(--secondary);
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  width: 10em;
}

a {
  text-decoration: none;
}

#singleComment {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 10px;
}

#oldcomments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  gap: 5%;
}
#old-comments {
  background-color: var(--bg-dark);
  /* border: 0.5px solid var(--tertiary); */
  font-size: 0.85rem;
  letter-spacing: normal;
  color: var(--white);
  border-radius: 10px;
  font-weight: 300;
  padding: 20px;
  /* margin-bottom: 30px; */
  word-wrap: break-word;
  min-height: 30px;
  /* box-shadow: 8px 8px 5px #888888; */
}
#comment-form > .container > .button-group > .btn-primary {
  color: var(--black);
  background-color: var(--complementive);
  padding: 5px;
  /* border-color: #2e6da4; */
  border-radius: 8px;
}

#comment-form > .container > .button-group > .disabled {
  opacity: 0.4;
  pointer-events: none;
}

#comment-date {
  font-size: 0.85em;
  color: gray;
  align-self: flex-end;
}

#comment-input-form .form-group .invalid {
  margin-bottom: 5px;
  color: var(--danger) !important;
  text-align: right;
  font-size: 0.95em;
}

#comment-input-form .form-group .invalid {
  margin-top: 5px;
  color: var(--danger) !important;
  text-align: right;
}

#comment-input-form .form-group .invalid textarea {
  border: 1px solid var(--danger) !important;
}

#comment-input-form .form-group .success textarea {
  border: 1px solid var(--secondary) !important;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (min-width: 300px) and (max-width: 575.98px) {
  body {
    height: auto;
    flex-direction: column;
    gap: 5%;
    padding-bottom: 10%;
    overflow: scroll;
  }
  #article-wrapper {
    width: 80vw;
    overflow: hidden;
    padding-bottom: 20px;
    height: 100vh;
  }
  #article-wrapper > .article-section {
    margin-top: 20px;
    flex-direction: column;
  }
  #article-wrapper > .article-section > .article-image {
    width: 100%;
    height: 25%;
    border-top-right-radius: 20px;
  }
  #article-wrapper > .article-section > .article-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #article-wrapper > .article-section > .article-body {
    width: 100%;
    height: 85%;
  }
  #article-wrapper > .article-section > .article-body > .article-text {
    padding-bottom: 10%;
  }

  #article-wrapper > .article-section > .article-body > .article-header {
    gap: 1%;
    background-color: var(--bg-dark);
    border-top-left-radius: 20px;
    /* height: 200px; */
  }

  #article-wrapper
    > .article-section
    > .article-body
    > .article-header
    > .article-title {
    gap: 1%;
  }
  #article-wrapper
    > .article-section
    > .article-body
    > .article-header
    > .article-stats {
    /* background-color: #a8eb12; */
    display: flex;
    /* flex-direction: column; */
    gap: 1%;
  }

  #comment-form {
    width: 80vw;
    height: 100vh;
  }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
  body {
    flex-direction: column;
    height: auto;
  }
  #article-wrapper {
    width: 95vw;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
  }
  #article-wrapper > .article-section {
    margin-top: 20px;
    flex-direction: column;
  }
  #article-wrapper > .article-section > .article-image {
    width: 100%;
    height: 25%;
    border-top-right-radius: 20px;
  }
  #article-wrapper > .article-section > .article-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  #article-wrapper > .article-section > .article-body {
    width: 100%;
    height: 85%;
  }

  #article-wrapper > .article-section > .article-body > .article-header {
    gap: 1%;
    background-color: var(--bg-dark);
    border-top-left-radius: 20px;
    height: 20%;
  }

  #article-wrapper
    > .article-section
    > .article-body
    > .article-header
    > .article-title {
    gap: 1%;
  }
  #article-wrapper
    > .article-section
    > .article-body
    > .article-header
    > .article-stats {
    /* background-color: #a8eb12; */
    display: flex;
    /* flex-direction: column; */
    gap: 1%;
  }
  #comment-form {
    width: 90vw;
    height: auto;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  body {
    flex-direction: column;
    height: auto;
    padding-bottom: 5%;
  }
  #article-wrapper {
    width: 95vw;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
  }
  #article-wrapper > .article-section {
    margin-top: 20px;
    flex-direction: column;
  }
  #article-wrapper > .article-section > .article-image {
    width: 100%;
    height: 25%;
    border-top-right-radius: 20px;
  }
  #article-wrapper > .article-section > .article-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  #article-wrapper > .article-section > .article-body {
    width: 100%;
    height: 85%;
  }

  #article-wrapper > .article-section > .article-body > .article-header {
    gap: 1%;
    background-color: var(--bg-dark);
    border-top-left-radius: 20px;
    height: 20%;
  }

  #article-wrapper
    > .article-section
    > .article-body
    > .article-header
    > .article-title {
    gap: 1%;
  }
  #article-wrapper
    > .article-section
    > .article-body
    > .article-header
    > .article-stats {
    /* background-color: #a8eb12; */
    display: flex;
    /* flex-direction: column; */
    gap: 1%;
  }
  #comment-form {
    width: 90vw;
    height: auto;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
