@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  line-height: 1.15;
  /* -webkit-text-size-adjust: 100%; */
  /* font-size: 90%; */
  font-size: 0.9rem;
  /* font-family: "Dosis", sans-serif; */
  font-weight: 500;
  letter-spacing: 0.1em;
  height: 100vh;
}
:root {
  --white: white;
  --black: black;
  --primary: #051937;
  --secondary: #a8eb12;
  --tertiary: #00ffff;
  --complementive: #f9f871;
  --bg-dark: #020917;
  --bg-gradient: linear-gradient(180deg, #020917 0%, #1e3a8a 100%);
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  /* background-image: var(--bg-gradient); */
  background-color: #0f103f;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

/* Navbar */

#globalHeader {
  position: fixed;
  right: 0;
  top: 0;
  width: calc(235 / 1500 * 100vw);
  max-width: 235px;
  height: 100vh;
  z-index: 10000;
}
#globalNav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  width: calc(430 / 1000 * 100vh);
  height: 1em;
  transform: rotate(90deg);
  transform-origin: 0 100%;
  margin-top: calc(200 / 1500 * 100vh);
  margin-left: 100px;
}

#globalNav .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#globalNav .menu li {
  padding-right: 24px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#globalNav .menu li a {
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
  font-weight: 300;
}

#globalNav .menu li a:hover {
  color: var(--secondary);
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding-bottom: 2px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 575.98px) {
  html {
    font-size: 0.6rem;
  }
  #globalHeader {
    width: 90px;
  }
  #globalNav {
    width: 250px;
    margin-top: 30px;
    margin-left: 50px;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 0.7rem;
  }
  #globalHeader {
    width: 90px;
  }
  #globalNav {
    width: 250px;
    margin-top: 30px;
    margin-left: 50px;
  }
}
/* Cards */

#topSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2%;
}

#topSection > .backCard {
  width: 100px;
  height: 100px;
  background: #a8eb12;
  border-radius: 10px;
  transform: rotate(-10deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#topSection > .backCard > .avatar {
  /* display: block; */
  /* max-width: 100px; */
  /* max-height: 100px; */
  width: 95%;
  height: 95%;
  border-radius: 50%;
  transform: rotate(10deg);
}

#title {
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#myName {
  color: var(--secondary);
}

#title > .line {
  width: 100%;
  height: 0px;
  border: 1.5px solid #00d1ff;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#cards {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 8px;
  max-width: 1200px;
  width: calc(100% - 20px);
  /* margin-left: 10%; */
  justify-content: center;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 70vh;
  flex-direction: column;
  position: relative;
  width: 500px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    /* rgba(255, 255, 255, 0.4), */ var(--secondary),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--bg-dark);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 5%;
  position: absolute;
  z-index: 3;
  justify-content: flex-start;
  overflow: auto;
}

.card > .card-content > .card-content-section-title {
  position: sticky;
  position: -webkit-sticky;
  top: 0.5vh;
  background-color: var(--bg-dark);
  padding: 1%;
}

.card > .card-content > .technology-stack {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 1200px;
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  border-top: 0.1px solid var(--tertiary);
  border-bottom: 0.1px solid var(--tertiary);
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 2%;
}

.card > .card-content > .technology-stack > .icons img {
  width: 50px;
  height: 50px;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
h3 {
  color: var(--white);
  font-weight: 400;
}
h4 {
  color: var(--white);
  font-weight: 400;
}

p {
  color: var(--white);
  font-weight: 300;
  font-size: 0.85em;
  margin-top: 8px;
}

i {
  color: rgb(240, 240, 240);
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (min-width: 300px) and (max-width: 575.98px) {
  body {
    align-items: flex-start;
    padding-top: 5%;
  }
  #cards {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .card {
    width: 75vw;
    height: 35vh;
  }

  .card > .card-content > .card-content-section-title {
    position: relative;
    top: 0;
    background-color: transparent;
    padding: 1%;
  }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
  }

  .card {
    width: 450px;
    height: 35vh;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  body {
    align-items: flex-start;
    padding-top: 2%;
  }
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
  }

  .card {
    width: 60vw;
    height: 25vh;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  #cards {
    flex-direction: row;
  }
}

@media (max-width: 1399.98px) {
  #card {
    flex-direction: row;
  }
}

/* @media (max-width: 428px) {
  #topSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.2%;
  }

  #cards {
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
  }
  .card {
    width: 375px;
  }
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
    justify-content: center;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
} */

/* -- Resume Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: var(--secondary);
  /* font-family: "Rubik", sans-serif; */
  font-family: "Poppins";
  font-weight: 500;
}
